h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

#area{
    position: relative;
    left: 1%;
    top: 1em;
    width: 280px;
    height: 270px;
}

#area #formulario {
    position: absolute;
    display: block;
}

fieldset{
    background-color: burlywood;
}